---
layout: page
title: Projects
permalink: /Projects/
---

<div class="home">

  <h1 class="page-heading">Project 2</h1>
  
  <h3>Presenting The Visions</h3>
  
  <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'vision' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">Project 2</h1>
  
  <h3>Contextual Interviews</h3>
  
  <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'contextual_interviews' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <h1 class="page-heading">Project 2</h1>
  
  <h3>Competitive Software</h3>
  
  <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'competitors' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
