---
layout: page
title: Projects
permalink: /Projects/
---

<div class="home">

  <h1 class="page-heading">Project 2</h1>
  
  <b>Presenting The Visions</b>
  
  <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'vision' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <b>Contextual Interviews</b>
  
  <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'contextual_interviews' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <b>Competitive Software</b>
  
  <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'competitors' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <b>Persona Descriptions</b>
  
  <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'persona_descriptions' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
    <b>Detailed User Groups</b>
    <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'user-groups-detailed' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
    <b>Elevator Speech</b>
    <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'elevator_speech' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

    <b>Visions: Plus and minus</b>
    <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'plus-minus' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
      <b>ReFormer: Affinity Diagram</b>
    <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'affinity' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
       <b>ReFormer: Updated Vision</b>
    <ul class="post-list">
      {% for post in site.posts %}
          {% if post.categories contains 'project2' and post.categories contains 'vision' %}
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
