---
layout: post
title:  "ReFormer - User Testing Results"
date:   2016-10-31 21:21:59 +0000
categories: project4 results
---

### Usability goals

All goals are predicted to be measured in low-fi prototype, therefore the time measure is prolonged.

#### 1.

* It takes a user 20 seconds to change the font to another font
* 95% of users will finish changing the font to another font
* Users will grade their satisfaction for changing the font to another font above 4 on average on a scale from 1-5


| Usability factor 	| Data collected                    	| Worst Case   	| Preferred Case 	| Best Case     	| Value Now 	|
|------------------	|-----------------------------------	|--------------	|----------------	|---------------	|-----------	|
| Efficiency       	| Time for changing to another font 	| 1 minute     	| 20 seconds     	| 10 seconds    	| 23 seconds   |
| Effectiveness    	| Finished tasks                    	| 65% finished 	| 95% finished   	| 100% finished 	| 100% finished|


|           	| Completed 	|  Time  	| Number of commands 	| Number of  misunderstandings 	| Satisfaction 	|
|:---------:	|:---------:	|:------:	|:------------------:	|:----------------------------:	|:------------:	|
| Student 1 	|     Y     	| 30 sec 	|          7         	|               2              	|       2      	|
| Student 2 	|     Y     	| 20 sec 	|          5         	|               1              	|       4      	|
| Student 3 	|     Y      	| 23 sec    |          7          	|               1               	|       4       	|
| Student 4 	|     Y      	| 20 sec    |          6          	|               1               	|       5       	|

#### 2.


* It takes a user 15 seconds to change the background to white
* 90% of users will finish changing the background to white
* Users will grade their satisfaction for changing the background to white above 4 on average on a scale 1-5


| Usability factor 	| Data collected                    	| Worst Case   	| Preferred Case 	| Best Case     	| Value Now 	|
|------------------	|-----------------------------------	|--------------	|----------------	|---------------	|-----------	|
| Efficiency       	| Time for changing to another font 	| 30 seconds   	| 15 seconds     	| 10 seconds    	| 13 seconds   |
| Effectiveness    	| Finished tasks                    	| 70% finished 	| 90% finished   	| 100% finished 	| 100% finished|

|           	| Completed 	|  Time  	| Satisfaction 	|
|:---------:	|:---------:	|:------:	|:------------:	|
| Student 1 	|     Y     	| 16 sec 	|       5      	|
| Student 2 	|     Y     	| 12 sec 	|       5      	|
| Student 3 	|     Y      	| 10 sec   	|       5        	|
| Student 4 	|     Y      	| 12 sec   	|       5       	|


#### 3. 


* It takes a user 10 seconds to highlight a block of text and generate a summary
* 80% of users will finish highlighting a block of text and generate a summary
* Users will grade their satisfaction for highlighting a block of text and generate a summary above 3 on average on a scale 1-5


| Usability factor 	| Data collected                    	| Worst Case   	| Preferred Case 	| Best Case     	| Value Now 	|
|------------------	|-----------------------------------	|--------------	|----------------	|---------------	|-----------	|
| Efficiency       	| Time for changing to another font 	| 1 minute   	| 10 seconds     	| 5 seconds    	   | 7 seconds    |
| Effectiveness    	| Finished tasks                    	| 50% finished 	| 80% finished   	| 100% finished 	| 100% finished|


|           	| Completed 	|  Time  	| Satisfaction 	|
|:---------:	|:---------:	|:------:	|:------------:	|
| Student 1 	|     Y     	| 8 sec 	|       5      	|
| Student 2 	|     Y     	| 9 sec 	|       5      	|
| Student 3 	|     Y      	| 6 sec 	|       5       	|
| Student 4 	|     Y      	| 5 sec  |       5       	|


### User experience


* Average score on the question below is 4 or greater
    * How well or poorly, on the scale 1-5 has ReFormer enhanced your reading abilities?
* Average score on the question below is at least 4,5
    * How easy or difficult, on the scale 1-5 was it for you to change the font size to your preferred settings?
* Average score on the question below is at least 4
    * How likely or unlikely, on the scale 1-5 would you recommend others to use ReFormer?


